#container {
  width:980px;
    padding:10px;
    margin:0 auto;
    position:relative;
    z-index:0;
}

#example {
    width:980px;
   /* height: 323px;*/
    position:relative;
    top:-38px;
}
#frame {
    position:absolute;
    z-index:0;
    width:980px;
    height:341px;
    top:-3px;
    left:-80px;
}

/*
        Slideshow
*/

#slides {
    position:absolute;
    top:38px;
    left:0px;
    z-index:100;
}

/*
        Slides container
        Important:
        Set the width of your slides container
        Set to display none, prevents content flash
*/

.slides_container {
    width:980px;
    overflow:hidden;
    position:relative;
    display:none;
    height: 345px;
}

/*
        Each slide
        Important:
        Set the width of your slides
        If height not specified height will be set by the slide content
        Set to display block
*/

.slides_container div.slide {
   width:980px;
    height:270px;
    display:block;
}
.slides_container div.slide img{width: 980px; height:317px}

/*
        Next/prev buttons
*/
.next,.prev {
    position:absolute;
    top:152px;
    left:50px;
    width:24px;
    height:43px;
    display:block;
    z-index:101;
    display: none;
}
#slides:hover .next, #slides:hover .prev
{
    display: block;
}
#slides .next {
    left:auto;
    right:50px;
}

/*
        Pagination
*/

.pagination {
    margin:26px auto 0;
    width:100px;
    display: none;
}

.pagination li {
    float:left;
    margin:0 1px;
    list-style:none;
}

.pagination li a {
    display:block;
    width:12px;
    height:0;
    padding-top:12px;
    background-image:url(../images/img/pagination.png);
    background-position:0 0;
    float:left;
    overflow:hidden;
}

.pagination li.current a {
    background-position:0 -12px;
}
.caption {
    z-index:500;
    position:absolute;
    bottom:-35px;
    left:0;
    height:30px;
    padding:5px 20px 0 20px;
    background:#000;
    background:rgba(0,0,0,.5);
    width:980px;
    font-size:1.3em;
    line-height:1.33;
    color:#fff;
    border-top:1px solid #000;
    text-shadow:none;
    display: none;
}
.caption p{margin:0;}

/*--------------------*/
